# Punting?! There's No Punting in Baseball!

https://fantasy.fangraphs.com/author/lucaskelly49/

In [46]:
import pandas as pd
import numpy as np

In [34]:
dfB = pd.read_csv('batters19.csv')
dfP = pd.read_csv('pitchers19.csv')
dfB2 = dfB[['SB', 'HR', 'R', 'RBI', 'OBP']]
dfP2 = dfP[['W', 'ERA', 'SV', 'WHIP', 'SO']]

In [38]:
offensive_corr = dfB2.corr()
pitchers_corr = dfP2.corr()

In [58]:
offensive_corr

           SB        HR         R       RBI       OBP
SB   1.000000  0.337881  0.535625  0.404763  0.298993
HR   0.337881  1.000000  0.904055  0.943307  0.542772
R    0.535625  0.904055  1.000000  0.944955  0.611149
RBI  0.404763  0.943307  0.944955  1.000000  0.580722
OBP  0.298993  0.542772  0.611149  0.580722  1.000000

In [60]:
pitchers_corr

             W       ERA        SV      WHIP        SO
W     1.000000 -0.354200 -0.011677 -0.383313  0.851699
ERA  -0.354200  1.000000 -0.228360  0.819899 -0.342434
SV   -0.011677 -0.228360  1.000000 -0.226352  0.056394
WHIP -0.383313  0.819899 -0.226352  1.000000 -0.392328
SO    0.851699 -0.342434  0.056394 -0.392328  1.000000

In [39]:
print('Stolen Bases: ' + str(round(offensive_corr['SB'].sum(),2)))
print('Home Runs: ' + str(round(offensive_corr['HR'].sum(),2)))
print('Runs: ' + str(round(offensive_corr['R'].sum(),2)))
print('RBI: ' + str(round(offensive_corr['RBI'].sum(),2)))
print('OBP: ' + str(round(offensive_corr['OBP'].sum(),2)))

Stolen Bases: 2.58
Home Runs: 3.73
Runs: 4.0
RBI: 3.87
OBP: 3.03

In [40]:
print('W: ' + str(round(pitchers_corr['W'].sum(),2)))
print('ERA: ' + str(round(pitchers_corr['ERA'].sum(),2)))
print('SV: ' + str(round(pitchers_corr['SV'].sum(),2)))
print('WHIP: ' + str(round(pitchers_corr['WHIP'].sum(),2)))
print('SO: ' + str(round(pitchers_corr['SO'].sum(),2)))

W: 1.1
ERA: 0.89
SV: 0.59
WHIP: 0.82
SO: 1.17

# Monte Carlo Simulation

In [ ]:
def roll_the_dice(n,x):
# start by keeping a count
    count = 0
# for every time you roll the dice
    for i in range(x):
        rolls = []
# for every dice that you roll
        for j in range(n):
# randomly assign an outcome 1 - 6, for each dye
            dye = random.randint(1, 10)
# add that outcome to a list
            rolls.append(dye)

        if sum(rolls) > 84:
            count += 1
            print(rolls)
            print(count)

In [ ]:
roll_the_dice(9,10000000)